.color {
    display: inline-block;   
    height: 50%;
    width: 50%;
    border: 1px solid black;
    margin: 0;
}

.cor1 {
    background-color: black;
}

.cor2 {
    background-color: blue;
}

.cor3 {
    background-color: gray;
}

.cor4 {
    background-color: yellow;
}

.pixel {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}


