.color {       
    height: 40px;
    width: 40px;
    border: 1px solid black;
    margin: 10px;   
    display: inline-block;     
}

#preta{
    background-color: black;
}

#azul {
    background-color: blue;    
}

#cinza {
    background-color: gray;    
}

#amarela {
    background-color: yellow;    
}

.pixel {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}


